# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Assembly-CSharp.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Lise\RoboQuest\.idea\.idea.Assembly-CSharp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
